# Dependencies
/node_modules

# Build output
/dist
/.astro

# Misc
.DS_Store
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Auto Claude data directory
.auto-claude/

# Sisyphus data directory
.sisyphus/
